<%= render '/shared/flash_error_notice'%>
<div id="login-wrapper">
  <div id="login-form-wrapper">
    <%= label_tag 'account_login', 'Account Login', :class => "account_login" %>
    <%= form_tag login_user_path, :method => :post, :class => "session validate-form", :name => "account_login" do %>
      <div class="field_wrapper">
	      <label for="username" class="f_usr">Username
	        <span class="error_message"></span>
	      </label>
	      <%= text_field_tag :username, nil, :class => "f_usr_text validate text" %>
      </div>
      <div class="field_wrapper">
        <label for="password" class="f_usr">Password
	        <span class="error_message"></span>
	      </label>
        <%= password_field_tag :password, nil, :class => "f_usr_text validate text" %>
      </div>
      <div class="field_wrapper">
        <label for="keep_me_login" class="keep_me_login">Keep Me Log-in
	        <span class="error_message"></span>
	      </label>
        <%= check_box_tag :keep_me_login, :class => "f_usr_checkbox" %>  
      </div>
      <div class="button_wrapper">
        <%= submit_tag "Login", :class => "btn_login btn btn-primary" %>
      </div>
	  <% end %>
	  <div class="field_wrapper">
      <%= link_to "Forgot your password?", "forgot_password_path", :class => 'forgot_password' %>
      <label for="keep_me_login" class="keep_me_login">
        Don’t have an account signup here!
	    </label>
	    <%= button_to "Sign Up", new_user_path, :form_class => "signup" %>
    </div>
	</div>  
</div>
<script type="text/javascript">
    $(document).ready(function() {
      errorMessages = [];
      errorMessages[$("#username").attr("id")] = "Username is invalid.";
      errorMessages[$("#password").attr("id")] = "Password is invalid.";
    });
</script>
