<div id="create-user">
  <div id="create-merchant-form-wrapper">
    <%= form_for(@user, :url => create_merchant_path, 
                :html=>{:class => "user validate-form", :name => "new_user"}) do |f| %>
      <%= errors_for(@user) %>
      <!-- Left Column Content -->
      <div class="left_column">
        <div class="span_wrapper">
          <span class="form_title">Create Merchant Account</span>
        </div>
        <div class="field_wrapper">
	        <label for="user_u_username" class="f_usr">Username *
	          <span class="error_message"></span>
	        </label>
	        <%= f.text_field :u_username, :class => "f_usr_text validate text", :placeholder => 'Username' %>
          <%= f.hidden_field :nick_name %>
        </div>
        <div class="field_wrapper">
          <label for="user_password" class="f_usr">Password *
	          <span class="error_message"></span>
	        </label>
          <%= f.password_field :password, :class => "f_usr_text validate text", :placeholder => 'Password' %>
        </div>
        <div class="field_wrapper">
          <label for="user_password_confirmation" class="f_usr">Confirm Password *
	          <span class="error_message"></span>
	        </label>
          <%= f.password_field :password_confirmation, :class => "f_usr_text validate text", :placeholder => 'Password Confirmation' %>
        </div>
        <div class="field_wrapper">
          <label for="user_u_email" class="f_usr">Email *
	          <span class="error_message"></span>
	        </label>
          <%= f.text_field :u_email, :class => "f_usr_text validate email",
                                     :placeholder => 'Email' %>
        </div>
      </div>
      <!-- /Left Column Content -->
      <!-- Right Column Content -->
      <div class="right_column">
        <div class="span_wrapper">
          <span class="business_info">Business Information</span>
        </div>
        <%= f.fields_for :merchants do |c| %>
          <%= render '/merchants/merchant_fields', :f => c %>
        <% end %>
        <div class="field_wrapper">
          <label for="accept_tandcs" class="f_usr">Agree with Terms of Use *
	          <span class="error_message"></span>
	        </label>
          <%= f.check_box :agree_wt_use, :class => "f_usr_checkbox validate checkbox" %>  
        </div>
        <div class="button_wrapper">
          <%= f.submit "Register", :class => "btn_next btn btn-primary" %>
        </div>
      </div>
      <!-- /Right Columun Content -->
	  <% end %>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
      errorMessages = [];
      errorMessages[$("#user_u_username").attr("id")] = "Username is invalid.";
      errorMessages[$("#user_u_email").attr("id")] = "Email is invalid. ex.: info@domain.com";
      errorMessages[$("#user_password").attr("id")] = "Password is invalid.";
      errorMessages[$("#user_password_confirmation").attr("id")] = "Password Confirmation is invalid.";
      errorMessages[$("#user_merchants_m_business_name").attr("id")] = "Business Name is invalid.";
      errorMessages[$("#user_merchants_m_contact_name").attr("id")] = "Contact Name is invalid.";
      errorMessages[$("#user_merchants_m_business_email").attr("id")] = "Business Email is invalid.";
      errorMessages[$("#user_merchants_m_business_phone_number").attr("id")] = "Phone Number is invalid.";
      errorMessages[$("#user_merchants_m_business_address").attr("id")] = "Business Address is invalid.";
      errorMessages[$("#user_merchants_m_city").attr("id")] = "City is invalid.";
      errorMessages[$("#user_merchants_m_state").attr("id")] = "State is invalid.";
      errorMessages[$("#user_merchants_m_zip_code").attr("id")] = "Zip Code is invalid.";
      errorMessages[$("#user_agree_wt_use").attr("id")] = "Please agree terms of use.";
    });
</script>
