<div id="main-footer">
  <div id="social-media">
    <%= link_to image_tag("shared/facebook.png"), root_path %>
    <%= link_to image_tag("shared/twitter.png"), root_path %>
    <%= link_to image_tag("shared/linkedin.png"), root_path %>
    <%= link_to image_tag("shared/googleplus.png"), root_path %>
    <%= link_to image_tag("shared/youtube.png"), root_path %>
  </div>
  <div id="contacts">
    <div class="top">
      <%= link_to "Careers", root_path %> |
      <%= link_to "News", root_path %> |
      <%= link_to "Sitemap", root_path %> |
      <%= link_to "Contact Information", root_path %>  
    </div>
    <div class="bottom">
      <%= link_to "Newsletter Sign-Up", root_path %> |
      <%= link_to "Contact Sales", root_path %> |
      <%= link_to "Contact Support", root_path %> |
      <%= link_to "Investors", root_path %>
    </div>
  </div>
  <div id="copyright">
    <div class="top">
      &copy;XYZ Company and/or its affiliates | XYZ  
    </div>
    <div class="bottom">
      <%= link_to "Legal Notices", root_path %> |
      <%= link_to "Terms of Service", root_path %> |
      <%= link_to "Privacy Policy", root_path %> |
    </div>
  </div>
</div>
