  <div class="field_wrapper">
    <label for="m_business_name" class="f_usr">Business Name*
       <span class="error_message"></span>
    </label>
    <%= f.text_field :m_business_name, :class => "f_usr_text validate text", 
                     :placeholder => 'Business Name' %>
  </div>
  <div class="field_wrapper">
    <label for="m_contact_name" class="f_usr">Contact Name*
     <span class="error_message"></span>
    </label>
    <%= f.text_field :m_contact_name, :class => "f_usr_text validate text", 
                     :placeholder => 'Contact Name' %>
  </div>
  <div class="field_wrapper">
    <label for="m_business_email" class="f_usr">Business Email*
     <span class="error_message"></span>
    </label>
    <%= f.text_field :m_business_email, :class => "f_usr_text validate text", 
                     :placeholder => 'Business Email' %>
  </div>
  <div class="field_wrapper">
    <label for="m_business_phone_number" class="f_usr">Phone Number*
     <span class="error_message"></span>
    </label>
    <%= f.text_field :m_business_phone_number, :class => "f_usr_text validate text", 
                     :placeholder => 'Business Phone Number' %>
  </div>
  <div class="field_wrapper">
    <label for="m_business_address" class="f_usr">Business Address*
     <span class="error_message"></span>
    </label>
    <%= f.text_field :m_business_address, :class => "f_usr_text validate text", 
                     :placeholder => 'Business Address' %>
  </div>
  <div class="field_wrapper">
    <label for="m_city" class="f_usr">City*
     <span class="error_message"></span>
    </label>
    <%= f.text_field :m_city, :class => "f_usr_text validate text", 
                              :placeholder => 'City' %>
  </div>
  <div class="field_wrapper">
    <label for="m_state" class="f_usr">State*
     <span class="error_message"></span>
    </label>
    <%= f.text_field :m_state, :class => "f_usr_text validate text", 
                     :placeholder => 'State' %>
  </div>
  <div class="field_wrapper">
    <label for="m_zip_code" class="f_usr">Zip Code*
     <span class="error_message"></span>
    </label>
    <%= f.text_field :m_zip_code, :class => "f_usr_text validate number", 
                     :placeholder => 'Zip Code' %>
  </div>
