<div id="create-user">
  <div id="create-user-form-wrapper">
    <%= label_tag 'create_account', 'Create Account', :class => "create_user" %>
    <%= form_for(@user, :url => create_merchant_path, 
                :html=>{:class => "user validate-form", :name => "new_user"}) do |f| %>
      <%= errors_for(@user) %>
      <div class="field_wrapper">
	      <label for="user_u_username" class="f_usr">Username *
	        <span class="error_message"></span>
	      </label>
	      <%= f.text_field :u_username, :class => "f_usr_text validate text" %>
        <%= f.hidden_field :nick_name %>
      </div>
      <div class="field_wrapper">
        <label for="user_password" class="f_usr">Password *
	        <span class="error_message"></span>
	      </label>
        <%= f.password_field :password, :class => "f_usr_text validate text" %>
      </div>
      <div class="field_wrapper">
        <label for="user_password_confirmation" class="f_usr">Confirm Password *
	        <span class="error_message"></span>
	      </label>
        <%= f.password_field :password_confirmation, :class => "f_usr_text validate text" %>
      </div>
      <div class="field_wrapper">
        <label for="user_u_email" class="f_usr">Email *
	        <span class="error_message"></span>
	      </label>
        <%= f.text_field :u_email, :class => "f_usr_text validate email" %>
      </div>
      <div class="field_wrapper">
        <label for="user_u_phone_number" class="f_usr">Phone Number
	        <span class="error_message"></span>
	      </label>
        <%= f.text_field :u_phone_number, :class => "f_usr_text" %>
      </div>
      <%= f.fields_for :classifications do |c| %>
        <%= render '/classifications/classification_fields', :f => c %>
      <% end %>
      <div class="field_wrapper">
        <label for="user_u_newsletter" class="f_usr">Sign-Up For Newsletter
	        <span class="error_message"></span>
	      </label>
        <%= f.check_box :u_newsletter, :class => "f_usr_checkbox" %>  
      </div>
      <div class="field_wrapper">
        <label for="accept_tandcs" class="f_usr">Agree with Terms of Use *
	        <span class="error_message"></span>
	      </label>
        <%= f.check_box :agree_wt_use, :class => "f_usr_checkbox validate checkbox" %>  
      </div>
      <div class="button_wrapper">
        <%= f.submit "Register", :class => "btn_next btn btn-primary" %>
      </div>
	  <% end %>
	</div>
	<!-- Right Content -->
	<%= render ('/shared/promotional_video') %>
  <!-- /Right Content -->
</div>
<script type="text/javascript">
    $(document).ready(function() {
      errorMessages = [];
      errorMessages[$("#user_u_username").attr("id")] = "Username is invalid.";
      errorMessages[$("#user_u_email").attr("id")] = "Email is invalid. ex.: info@domain.com";
      errorMessages[$("#user_u_phone_number").attr("id")] = "Phone Number is invalid.";
      errorMessages[$("#user_password").attr("id")] = "Password is invalid.";
      errorMessages[$("#user_password_confirmation").attr("id")] = "Password Confirmation is invalid.";
      errorMessages[$("#user_agree_wt_use").attr("id")] = "Please agree terms of use.";
    });
</script>
