<html> 
<head> 
<title>Yelp OAuth Example</title> 
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" %>
<%= javascript_include_tag "http://oauth.googlecode.com/svn/code/javascript/oauth.js" %>
<%= javascript_include_tag "http://oauth.googlecode.com/svn/code/javascript/sha1.js" %>
<%#= javascript_include_tag "https://raw.github.com/padolsey/prettyPrint.js/master/prettyprint.js" %>
<script type="text/javascript">
  var auth = { 
    //
    // Update with your auth tokens.
    //
    consumerKey: "<%= YELP_CONSUMER_KEY %>", 
    consumerSecret: "<%= YELP_CONSUMER_SECRET %>",
    accessToken: "<%= YELP_TOKEN %>",
    accessTokenSecret: "<%= YELP_TOKEN_SECRET %>",
    serviceProvider: { 
      signatureMethod: "HMAC-SHA1"
    }
  };
  
  var y_map = {};
  var map;
  var yelp = [];
  var bounds;
  var infowindow = new google.maps.InfoWindow();
  
  var terms = 'taco';
  var near = 'San+Francisco';

  var accessor = {
    consumerSecret: auth.consumerSecret,
    tokenSecret: auth.accessTokenSecret
  };

  parameters = [];
  parameters.push(['term', terms]);
  parameters.push(['location', near]);
  parameters.push(['callback', 'cb']);
  parameters.push(['oauth_consumer_key', auth.consumerKey]);
  parameters.push(['oauth_consumer_secret', auth.consumerSecret]);
  parameters.push(['oauth_token', auth.accessToken]);
  parameters.push(['oauth_signature_method', 'HMAC-SHA1']);

  var message = { 
    'action': 'http://<%= YELP_API_HOST %>/v2/search',
    'method': 'GET',
    'parameters': parameters 
  };

  OAuth.setTimestampAndNonce(message);
  OAuth.SignatureMethod.sign(message, accessor);

  var parameterMap = OAuth.getParameterMap(message.parameters);
  parameterMap.oauth_signature = OAuth.percentEncode(parameterMap.oauth_signature)
  console.log(parameterMap);

  $.ajax({
    'url': message.action,
    'data': parameterMap,
    'cache': true,
    'dataType': 'jsonp',
    'jsonpCallback': 'cb',
    'success': function(data, textStats, XMLHttpRequest) {
      console.log(data);
      //var output = prettyPrint(data);
      //$("body").append(output);
      //------------------------------------------------------------------------
      bounds = new google.maps.LatLngBounds ();
      $.each(data.businesses, function(i,item){
        trace(item);
        infowindowcontent = '<strong>'+item.name+'</strong><br>';
        infowindowcontent += '<img src="'+item.photo_url+'"><br>';
        infowindowcontent += '<a href="'+item.url+'" target="_blank">see it on yelp</a>';
                            
        output = y_map.createYelpMarker(i,item.latitude,item.longitude,item.name, infowindowcontent);
        $("body").append(output);
      });                         
      //------------------------------------------------------------------------
    }
  });
  
  //----------
  function trace(message) 
  { 
    if (typeof console != 'undefined') 
    {
      console.log(message);
    }
  }
  //--------
  
  //--------
  //toggle array layers on/off
  y_map.toggleArrayLayer = function(arraylayer) 
  {
    if (arraylayer) {
      for (i in arraylayer) {                 
        if (arraylayer[i].getVisible() == true)
        {
          arraylayer[i].setMap(null);
          arraylayer[i].visible = false;
        }
        else
        {
          arraylayer[i].setMap(map);
          arraylayer[i].visible = true;
        }
      }
    }
  } // end of toggleArrayLayer
  
  //-------
  //----------------------------------------------------------------------------
  //function to get data from YELP
  y_map.getYelp = function(term)
  {
    bounds = new google.maps.LatLngBounds ();
    $.getJSON(message.action,
    
    function(data) {
      $.each(data.businesses, function(i,item){
        //trace(item);
        infowindowcontent = '<strong>'+item.name+'</strong><br>';
        infowindowcontent += '<img src="'+item.photo_url+'"><br>';
        infowindowcontent += '<a href="'+item.url+'" target="_blank">see it on yelp</a>';
                          
        y_map.createYelpMarker(i,item.latitude,item.longitude,item.name, infowindowcontent);
      });                         
    });
  }
  //----------------------------------------------------------------------------
  
  //Function to create yelp marker
  y_map.createYelpMarker = function(i,latitude,longitude,title, infowindowcontent)
  {
    var markerLatLng = new google.maps.LatLng(latitude,longitude);  
    
    //bounds = new google.maps.LatLngBounds ();        
    //extent bounds for each stop and adjust map to fit to it
    //bounds.extend(markerLatLng);
    //map.fitBounds(bounds);
    bounds.extendWith(markerLatLng);
    map.fitMapToBounds(bounds);  
        
    yelp[i] = new google.maps.Marker({
                position: markerLatLng,
                map: map,
                title: title,
                icon: 'http://yohman.bol.ucla.edu/images/yelp.png'
              });
        
    //add an onclick event
    google.maps.event.addListener(yelp[i], 'click', function() {
      infowindow.setContent(infowindowcontent);
      infowindow.open(map,yelp[i]);
    });
  }
  
  
  //Function that gets run when the document loads
  y_map.initialize = function() {
    var latlng = new google.maps.LatLng(34.0194543,-118.4911912);
    var myOptions = {
                      zoom: 4,
                      center: latlng,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            
       //Sample call for yelp data for cafe's
       y_map.getYelp('cafe');
  }
  
</script>
</head> 
<body>
    <!-- side panel div container -->
    <div style="position:absolute; width:380px; height: 100%; overflow:auto; float:left; padding-left:10px; padding-right:10px;">
        <h1>Yelp API</h1>
        <input type="checkbox" id="toggleFlickr" onClick="yoh.toggleArrayLayer(yelp)" checked> yelp layer
    </div>
    <!-- map div container -->
    <div id="map_canvas" style="height:100%; margin-left:400px;"></div>
</body>
</html>
