<div id="location">
  <div id="location-form-wrapper">
    <% title "Locations" %>
    <table>
      <tr>
        <th class="business_name">Business Name</th>
        <th class="email">Email</th>
        <th class="phone">Phone Number</th>
        <th class="address">Address</th>
      </tr>
      <% for location in @locations %>
        <% merchant = Merchant.find_by :user_id => location.user_id %>
        <tr>
          <td><%= merchant.m_business_name if merchant %></td>
          <td><%= merchant.m_business_email if merchant %></td>
          <td><%= merchant.m_business_phone_number if merchant %></td>
          <td><%= location.address %></td>
          <td><%= link_to "Show Location", location %></td>
          <!--
          <td><%#= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
          -->
        </tr>
      <% end %>
    </table>
  </div>
</div>
